* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background: #1E1E1E;
  cursor: url('../public/cursor.svg') 16 16, pointer;

  overflow: hidden;
}

#root {
  height: 100vh;
}